# Express Backend API URL
VITE_API_URL=http://localhost:5000/api

# Supabase Public Browser Credentials (For Administrator Auth Login only)
VITE_SUPABASE_URL=https://ujiktezcgpoqloevchqy.supabase.co
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here
